doctype html
html
  head
    title Create Your Account
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(style='font-family: Arial, sans-serif;')
      h2 Let's Finish Setting Up Your Account
      p Dear #{email}, 
      p Your admin has create an account registration for your email, please click the link below to complete the registration process:
      p
        a(href='#{registerUrl}', style='background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; display: inline-block;') Go to Account Setup
      p 
      p If you did not request a creation, please ignore this email. This link is only valid for the next 24 hours.
      p
      p Best regards,
      p Long