doctype html
html
  head
    title New contribution posted to your Faculty
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    div(style='font-family: Arial, sans-serif;')
      h2 Hi #{mcName}, new contribution is added to your account
      p Contribution from #{studentName}, 
      p You can click the link below to view the contribution:
      p
        a(href=contributionUrl, style='background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; display: inline-block;') Go to Account Setup
      p 
      p
      p Best regards,
      p Long